---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Jason Chalky</title>
  </head>
  <body>
    <p class="text-accent font-mono p-8">&gt; SYSTEM ONLINE</p>
  </body>
</html>
